<div class="container" fxLayout="column" fxLayoutGap="12px">
	<div fxLayout="column" fxLayoutGap="16px">
		<div fxLayout="row" fxLayoutAlign="space-between center">
			<h2 class="form-header">{{ data.title }}</h2>
			<button mat-icon-button class="close-btn" mat-dialog-close>
				<mat-icon>close</mat-icon>
			</button>
		</div>
		<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="28">
			<img class="image" src="{{ data.imageUrl }}" alt="" />
			<h3 class="warning-msg">{{ data.confirmationMessage }}</h3>
		</div>
	</div>

	<mat-divider></mat-divider>

	<div fxLayout="row" fxLayoutAlign="space-between center">
		<button mat-button class="cancel-button" mat-dialog-close>{{ data.cancelButtonText || 'No' }}</button>
		<button mat-button class="confirm-button" (click)="onConfirm()">{{ data.confirmButtonText || 'Yes' }}</button>
	</div>
</div>
